@import '../base/atoms/atoms';
@import '../base/buttons/buttons';

.main-screen {

    &__page {
        width: 100%;
        padding: 104px 0;
        background: $bg-1;
    }

    &__wrap {
        display: flex;
        width: $x;
        margin: 0 auto;
    }

    &__content {
        flex: 1;
        margin-right: 40px;
    }

    &__media {
        width: 480px;
        height: 480px;
        border-radius: $radius-3;
        background: $bg-3;
        overflow: hidden;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__subtitle {
        color: $content-sub-primary;
        margin-bottom: 40px;
    }

}