@import '../atoms/atoms';

.modal {

    border: 1px solid $content-back-1;
    border-radius: 8px;
    background: $bg-3;
    overflow: hidden;

    &--big {
        width: 809px;
        height: 520px;
    }

    &--medium {
        width: 400px;
    }

    &--small {
        width: 312px;
    }



    &__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0, .64);
        display: flex;
        z-index: 2;
    }

    &__body {
        padding: 24px;
        background-color: $bg-2;
        border-radius: 8px 8px 0 0;
    }

    &__buttons {
        display: flex;
        padding: 8px;
        background-color: $bg-2;
        > button {
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}