@import '../../../../components/atoms/atoms';

.stm-body-modules {
    height: 100%;
    &__content {
        background-color: $bg-2;
        width: 100%;
        height: calc(100% - 60px);
        border-radius: 8px 8px 0 0;
        overflow-y: scroll;
    }

    &__button {
        position: absolute;
        bottom: 8px;
        width: 100%;
        padding: 0 8px;
        background: $bg-2;
    }
    &__modals {
        position: relative;
    }
}