@import '../../components/atoms/atoms';

.stm-settings {
    display: flex;
    height: calc(100% - 40px);
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    &__sidebar {
        width: 200px;
        border-right: 1px solid $content-back-1;
        background-color: $bg-2;
        flex-shrink: 0;
    }

    &__view {
        width: 100%;
    }

    &__content {
        background-color: $bg-1;
        width: 100%;
        height: calc(100% - 60px);
        overflow-y: scroll;
    }

}

.stm-set-header {
    height: 60px;
    width: 100%;
    padding: 8px;
    background-color: $bg-2;
    border-bottom: 1px solid $content-back-1;
    position: relative;

    &__title {
        height: 44px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        >h2 {
            @include h2;
            width: max-content;
        }
    }

    &__button {
        width: 120px;
        position: absolute;
        top: 8px;
        right: 8px;
    }

    &__back {
        position: absolute;
        top: 8px;
        left: 8px;
    }

}