.btn {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: "Ubuntu";
    font-weight: 500;
    text-decoration: none;
    overflow: hidden;

}

.btn:after {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--contentBackOne);
    opacity: 0;
    transition: .3s;

}

.btn:hover:after {

    opacity: .5;

}

.btn:active:after {

    opacity: 1;

}


/* Размер */


.btn--small-text {

    width: fit-content;
    height: 44px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    padding: 0 16px;

}

.btn--small-text img {

    width: 20px;
    height: 20px;
    margin-right: 8px;

}

.btn--small-icon {

    width: 44px;
    height: 44px;
    border-radius: 8px;

}

.btn--small-icon img {

    width: 24px;
    height: 24px;

}

.btn--big-text {

    width: fit-content;
    height: 64px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 16px;
    padding: 0 16px;

}

.btn--big-text img {

    width: 20px;
    height: 20px;
    margin-right: 12px;

}

.btn--big-icon {

    width: 64px;
    height: 64px;
    border-radius: 12px;

}

.btn--big-icon img {

    width: 24px;
    height: 24px;

}


/* Стиль */


.btn--primary {

    background-color: var(--accentPrimary);
    color: var(--contentPrimary);

}

.btn--secondary {

    background-color: var(--contentBackOne);
    color: var(--contentSubPrimary);

}

.btn--default {

    color: var(--contentSubPrimary);

}
