@font-face {
    font-family: 'Ubuntu';
    src: url("fonts/Ubuntu-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("fonts/Ubuntu-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}