@import '../../../../../../components/atoms/atoms';

.stm-section-content {

    border-bottom: 1px solid $content-back-1;

    &:last-child {
        border-bottom: none;
    }

    &__list {
        border-radius: 4px;
        border: 1px solid $content-back-1;
        margin: 0 8px 8px 8px;
    }

    &__head {
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 44px;

        &-title {
            width: 100%;
            overflow: hidden;
            >h3 {
                width: max-content;
                @include h3;
                color: $content-sub-primary;
            }
        }

        &-remove {
            margin-left: 4px;
            flex-shrink: 0;
        }
    }

}