:root {

    --backgroundOne: #131414;
    --backgroundTwo: #1B1D1F;
    --backgroundThree: #222529;
    --backgroundFour: #2F353D;

    --subPrimary: 0.72;
    --secondary: 0.48;
    --disabled: 0.32;
    --backTwo: 0.12;
    --backOne: 0.04;

    --contentPrimary: #FFFFFF;
    --contentSubPrimary: rgba(255,255,255, var(--subPrimary));
    --contentSecondary: rgba(255,255,255, var(--secondary));
    --contentDisabled: rgba(255,255,255, var(--disabled));
    --contentBackTwo: rgba(255,255,255, var(--backTwo));
    --contentBackOne: rgba(255,255,255, var(--backOne));
    --contentInverse: #050505;

    --accentPrimary: #2A83F2;
    --accentSubPrimary: rgba(42,131,242, var(--subPrimary));
    --accentSecondary: rgba(42,131,242, var(--secondary));
    --accentDisabled: rgba(42,131,242, var(--disabled));
    --accentBackTwo: rgba(42,131,242, var(--backTwo));
    --accentBackOne: rgba(42,131,242, var(--backOne));

    --errorPrimary: #F34257;
    --errorSecondary: rgba(243, 66, 87, 0.08);
    --successPrimary: #31DBAB;
    --successSecondary: rgba(49, 219, 171, 0.08);
    --warningPrimary: #F3BD3D;
    --warningSecondary: rgba(243, 189, 61, 0.08);

}