@import '../atoms/atoms';

.stm-action-sheet {
    width: 100%;
    background-color: $bg-4;
    border: 1px  solid $content-back-1;
    padding: 4px;
    border-radius: 4px;

    > button {
        margin-bottom: 4px;
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }
    }

}